{% extends 'main/baseWithCatelogies.html' %}

{% block products %}
<div class="product-list">
    <div class="card-container d-flex flex-wrap">
        <h1>{% if category %}{{ category.name }}{% else %}Продукты{% endif %}</h1>
        {% for product in products %}
        <a href="" class="home-card d-flex flex-column align-items-center text-center">
            <h5 class="title-card">{{ product.name }}</h5>
        </a>
        Цена: {{ product.price }}
        <form action="{% url "cart:cart_add" product.id %}" class="qform" method="post">
            <div class="cart-form">
                {{ cart_product_form }}
                {% csrf_token %}
            </div>
            <input type="submit" class="add-to-cart-btn" value="Добавить в корзину">
        </form>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}