{% extends 'main/baseWithCatelogies.html' %}
{% load static %}

{% block products %}
<div class="products-container">
    <div class="category-header">
         <h1>{% if category %}{{ category.name }}{% else %}Все продукты{% endif %}</h1>
    </div>
    <div class="product-list">
        {% for product in products %}
        <div class="product-detail">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}
                 {% static " img/no_image.png" %}{% endif %}">
            <a href="" class="home-card d-flex flex-column align-items-center text-center">
                <h5 class="title-card">{{ product.name }}</h5>
            </a>
            <p class="price">Цена: {{ product.price }}</p>
            <form action="{% url "cart:cart_add" product.id %}" class="qform" method="post">
            <div class="cart-form">
                {{ cart_product_form }}
                {% csrf_token %}
            </div>
            <input type="submit" class="add-to-cart-btn" value="Добавить в корзину">
            </form>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}